@import "~rsuite/styles/index.less";

// Enable dark mode
@enable-dark-mode: true;

// Enable high contrast mode
@enable-high-contrast: true;

html,
body,
body > div,
.layout-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.rs-content {
  padding: 1em;
}

.rs-footer {
  padding: 1em;
  text-align: center;
}

* {
  box-sizing: border-box;
}
